#toTop {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999;
    outline: none;
    background-color: #666b6d;
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    opacity: 0.5;
}
.jay-search {
    margin-right: -15px;
}

.jay-badge {
    color: #fff;
    background-color: #131212;
}

.jay-alert {
    margin-block-start: 20px;
}
