/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2rem;
}

.blog-post-title a {
  color: #232323 !important;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.language-php-jay code {
  background-color: #0d405b;
  color: #ecf3f3;
  padding: 2px;
  border-radius: 5px;
}

.language-php-jay pre {
  background-color: #0d405b;
}

.language-php-jay > pre code {
  color: #00e0e0;
  background-color: #0d405b;
  padding: 15px 20px 15px 20px;
  white-space: pre-wrap;
  max-width: inherit;
  display: block;
  margin: 0;
  overflow: initial;
  line-height: 24px;
  word-wrap: normal;
  border: 0;
  text-align: left;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

.meta {
  margin-bottom: 16px;
  margin-top: -40px;
}

.new_a_liyi {
  text-decoration: none !important;
  cursor: pointer;
  color: #584444 !important;
}

.box_margin_max_35 {
  margin-bottom: 35px;
}

.CodeMirror,
.CodeMirror-scroll {
  min-height: 200px;
}

.jay .jay-float-right {
  float: right;
}

.jay-max-blog-detail-3 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tag-right {
  margin-right: 5px;
}

.a-remove-line {
  text-decoration: none !important;
}

.card .jay-blog-card-body {
  min-height: 181px;
  max-height: 181px;
}

.jay-button-border {
  border-radius: 10rem;
}

.jay-ajax-many-home:hover {
  background: #232323;
  color: #fff;
}

.jay-footer {
  background-color: #1b1c1d;
}

.jay-footer h5 {
  font-size: 1.271rem;
  font-weight: 700;
  line-height: 1.2857em;
  text-transform: none;
  color: #ffffff;
}

.jay-footer li a {
  font-size: 0.91em;
  color: rgba(255, 255, 255, 0.5) !important;
  line-height: 22px;
}

.jay-footer .justify-content-lg-center .col-6 {
  text-align: center;
  padding-top: 1rem;
}

.jay-footer .jay-me-title p {
  font-size: 0.91rem;
  color: rgba(255, 255, 255, 0.9);
}

.jay-name {
  font-size: 1.1rem;
  color: #0c0c0c;
}

.jay-alert .fade {
  transition: opacity 3.5s linear !important;
}

.jay-row-qrcode {
  min-height: 400px;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  -webkit-margin-after: auto;
          margin-block-end: auto;
}

.jay-qrocde-show {
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
}

.jay-qrcode-download {
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}

